* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ol, ul, dl, li, dt, dd {
    list-style: none;
}
a, a:hover, a:focus, a:link, a:visited, a:active {
    text-decoration: none;
    color: #000;
}
em {
    font-style: normal;
    font-weight: bold;
}
table {
    border-spacing: 0;
}
details > summary {
    list-style: none;
}
  
details summary::-webkit-details-marker {
    display:none;
}


/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    left: 0;
    top: 0;
    padding: 0 15%;
    width: 100%;
    height: 102px;
    background-color: #fff;
}

header .logo {
    aspect-ratio: 130/40;
    width: 130px;
    height: auto;
    background: url(../images/logo.svg) center/contain no-repeat;
}

header .nav_depth1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 60px;
    /* margin-left: 250px; */
}

header .nav_depth1 li {
    position: relative;
}

header .nav_depth1 > li > a:hover {
    font-weight: bold;
}

header .nav_depth1 > li > a:hover:after {
    content: '';
    position: absolute;
    right: -8px;
    top: 0;
    width: 8px;
    height: 8px;
    background: url(../images/bg-leaf.svg)center/contain no-repeat;
}

:has(header .nav_depth1 li > a:focus) .nav_depth2,
:has(header .nav_depth2:hover) .nav_depth2,
:has(header .nav_depth2_bg:hover) .nav_depth2 {
    display: block;
}
:has(header .nav_depth1 li > a:focus) .nav_depth2_bg,
:has(header .nav_depth2:hover) .nav_depth2_bg,
:has(header .nav_depth2_bg:hover) .nav_depth2_bg  {
    display: flex;
}


header .nav_depth2 {
    display: none;
    position: absolute;
    min-width: 100%;
    top: 85px;
    left: -1px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    z-index: 3;
}

header .nav_depth2 li > a:hover {
    color: #fff;
    font-weight: bold;
    background-color: #25c18d;
    border-radius: 30px;
}

header .nav_depth1 li:nth-of-type(3) .nav_depth2 {
    left: -43px;
}

header .nav_depth2 li:not(:first-child) {
    margin-top: 15px;
}

header .download-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 100px;
    text-align: center;
    border: 1px solid #25c18d;
    color: #25c18d;
    background-color: #fff;
}

header .nav_depth2_bg {
    display: none;
    align-items: center;
    padding: 0 15%;
    position: fixed;
    left: 0;
    top: 102px;
    height: 208px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: 0 6px 16px rgb(15 21 34 / 4%);
}
header .nav_depth2_banner {
    aspect-ratio: 265/129;
    width: 265px;
    height: auto;
    background: url(../images/_header_banner_bccard.png) center/contain no-repeat;
}

/* main */
main .wrap {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 8%;
    width: 100%;
}

main h2 {
    padding: 96px 0 48px;
    font-size: 48px;
}

main .main_nav {
    display: flex;
}

main .main_nav details summary {
    margin-right: 20px;
    font-size: 20px;
    color: #999999;
}

main .main_nav details[open] summary{
    font-weight: bold;
    color: #000;
    text-decoration: underline;
}

:has(main .main_nav li:nth-child(1) details[open]) .main_content_1 {
    display: block;
}
:has(main .main_nav li:nth-child(2) details[open]) .main_content_2 {
    display: block;
}

/* main_content_1 */
main .main_content_1 {
    display: none;
}

main .main_content_1 h3 {
    margin: 24px 0 36px;
    font-size: 24px;
}

main .main_content_1 h4 {
    margin: 40px 0 20px;
    font-size: 20px;
}

main .main_content_1 .top_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 40px;
}

main .main_content_1 .top_box .left_box {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    border-radius: 15px;
    background-color: #f9fafc;
    margin-right: 24px;
    padding: 32px 184px 32px 42px;
    font-size: 20px;
    height: 172px;
}

main .main_content_1 .top_box .left_box strong {
    font-size: 32px;
}

main .main_content_1 .top_box .right_box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 32px 42px;
    height: 172px;
}

main .main_content_1 .top_box .right_box em {
    font-size: 20px;
    margin-right: 60px;
}

main .main_content_1 .top_box .right_box .right_box_list li {
    font-size: 16px;
    list-style: initial;
    color: #4c4c4c;
}

main .main_content_1 .main_box {
    padding: 60px 0;
    width: 100%;
    background-color: #F9FAFC;
    box-shadow: 0 0 0 100vmax #F9FAFC;
    clip-path: inset(0 -100vmax);
}

main .main_content_1 .main_box .section_service ul {
    padding-left: 20px;
}

main .main_content_1 .main_box .section_service ul li {
    list-style: initial;
    color: #4c4c4c;
    font-size: 16px;
}

main .main_content_1 .main_box .section_call > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

main .main_content_1 .main_box .section_call > ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 24%;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    font-size: 16px;
}

main .main_content_1 .main_box .section_call > ul li strong {
    font-size: 20px;
}


main .main_content_1 .bottom_box ul {
    padding-left: 20px;
}

main .main_content_1 .bottom_box ul li {
    list-style: initial;
    color: #4c4c4c;
    font-size: 16px;
}

main .main_content_1 .bottom_box .call_box {
    display: flex;
    margin: 20px 0 120px;
    border: 1px solid #e5e5e5;
}

main .main_content_1 .bottom_box .call_box > div {
    text-align: center;
    padding: 20px;
    width: 30%;
}

main .main_content_1 .bottom_box .call_box > div:nth-of-type(even) {
    width: 20%;
}

main .main_content_1 .bottom_box .call_box > div:not(:last-child) {
    border-right: 1px solid #e5e5e5;
}





/* main_content_2 */

main .main_content_2 {
    display: none;
    background-color: #F9FAFC;
    box-shadow: 0 0 0 100vmax #F9FAFC;
    clip-path: inset(0 -100vmax);
}

main .main_content_2 .top_box {
    padding-top: 60px;
}

main .main_content_2 .top_box ul {
    display: flex;
    gap: 5px;
}

main .main_content_2 .top_box ul li {
    font-size: 14px;
    text-align: center;
    padding: 10px 13px;
    border-radius: 100px;
    border: 1px solid #e5e5e5;
    color: #4c4c4c;
    background-color: #fff;
}

main .main_content_2 .main_box_list {
    margin-top: 40px;
    padding: 24px 50px;
    border-radius: 15px;
    background-color: #fff;
}

main .main_content_2 .list_title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 48px 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

main .main_content_2 .list_title::after {
    content: '>';
    position: absolute;
    top: 37px;
    right: 20px;
    transform: rotate(90deg);
    font-size: 16px;
    margin-top: -16px;
}

main .main_content_2 details[open] .list_title::after {
    content: '<';
}

main .main_content_2 details[open] .list_detail {
    padding: 24px 20px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
}

main .main_content_2 .table_container th, main .main_content_2 .table_container td {
    height: 54px;
    text-align: center;
    vertical-align: middle;
}

main .main_content_2 .table_container th {
    font-weight: bold;
    background-color: #ebedef;
    padding: 16px 24px;
}

main .main_content_2 .table_container td {
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
    width: 100%;
    height: 140px;
    border-top: 1px solid #e5e5e5;
}

footer h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

footer .footer_depth {
    display: flex;
    align-items: center;
}

footer .footer_depth li {
    display: flex;
    align-items: center;
}

footer .footer_depth li:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid #d9d9d9;
}

footer .footer_depth li:not(:first-child) {
    padding-left: 10px;
}

footer .footer_depth li a {
    font-size: 13px;
    color: #808080;
}

footer .footer_depth li a:hover {
    color: #000;
}